doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Classeurs | Dossiers | Planchettes à pince

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Barlow:wght@800;900&display=swap" rel="stylesheet")
        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') classeurs24.fr
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') À propos de
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#products') Des produits
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portefeuille
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.h-80
                .row.align-items-center.justify-content-center.text-center
                    .col-lg-8.align-self-baseline.mt-5
                        h3.text-uppercase.text-white.font-weight-bold Produits publicitaires colorés et uniques
                        hr.divider.my-2
                        img.img-fluid(src='assets/img/pack_1000.png', alt='')
                .row.align-items-center.justify-content-center.text-center
                    .col-lg-4.col-md-6.align-self-end
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#about') En savoir plus sur
                    .col-lg-4.col-md-6.align-self-end
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#contact') Nous contacter

        // About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-12.text-center
                        h2.text-white.mt-0 Quelles sont les caractéristiques de nos produits ?
                        hr.divider.light.my-4
                .row.justify-content-center
                    .col-lg-4.text-center
                        h4.text-white.mt-0 Configuration au choix
                        p.text-white-50.mb-2
                            | En ce qui concerne nos produits, nous proposons les différentes tailles, versions configurations. C’est à vous de choisir ce dont vous avez besoin dans votre bureau. Comme ce n’est pas toujours simple et évident, vous pouvez compter sur notre conseil pour choisir les meilleures options pour vous.
                    .col-lg-4.text-center
                        h4.text-white.mt-0 Impression au choix
                        p.text-white-50.mb-2
                            | Chaque classeur, dossier ou planchette à pince peut recevoir une impression selon votre projet, non seulement extérieure, mais aussi intérieure. Nous proposons l’impression numérique ou offset moderne.
                    .col-lg-4.text-center
                        h4.text-white.mt-0 Finition à effet
                        p.text-white-50.mb-2
                            | Ce qui nous permet de personnaliser votre produits, ce sont des finitions astucieuses telles que les différents types de film ou de peinture UV ce qui rend la décoration unique et originale.
        // Products Section
        section#products.page-section
            .container
                .row
                    .col-lg-7.col-md-6.text-left
                        .mt-5
                            h3.h4.mb-2 Classeurs publicitaires
                            p.text-muted.mb-0 Vous êtes à la recherche d’une forme de présentation non banale ou de nouvelles idées pour votre bureau ou de nouvelles formes de publicité ? Créez votre propre carte de visite sous la forme d’un classeur avec une impression personnalisée, cela ne peut pas rester inaperçu par vos clients. Ou peut-être aimeriez-vous créer un catalogue avec offre ou de formation ? Un classeur, ce sera parfait. Nous proposons des classeurs de qualité, avec impression numérique, avec un pelliculage élégant ce qui vous permettra d’en jouir longtemps.
                            p
                            table.table-striped
                                tbody
                                    tr
                                        td
                                            | Format:
                                        td
                                            | A4, A5.
                                    tr
                                        td 
                                            | Largeur du dos: 
                                        td 
                                            | De 22 mm à 100 mm | Capacité de 9 mm à 65 mm des feuilles
                                    tr
                                        td
                                            | Mécanisme:
                                        td
                                            | mécanisme d'arc de levier, mécanisme d'anneau: 2 anneaux, 4 anneaux.
                                    tr
                                        td
                                            | Des accessoires:
                                        td
                                            | Œillets RADO, Trou de doigt, .
                                    tr
                                        td
                                            | Finition:
                                        td
                                            | Feuille brillante, Feuille mate, Feuille mate résistante aux rayures, Feuille structurelle avec effet lin.

                    .col-lg-5.col-md-6.align-items-center
                        .mt-5
                            object
                                embed(src='assets/img/parm_p24.png', style='width: 100%; height: auto;')
                .row
                    .col-lg-5.col-md-6.align-items-center
                        .mt-5
                            object
                                embed(src='assets/img/clipboard_p24.png', style='width: 80%; height: auto;')

                    .col-lg-7.col-md-6.text-left
                        .mt-5
                            h3.h4.mb-2 Planchette à pince
                            p.text-muted.mb-0 Planchette à pince avec impressions sont une autre façon de présenter l'entreprise et en même temps un outil pratique pour le travail quotidien avec des documents, souvent connu comme un bloc-notes avec une poignée pour les documents.
                            p
                            table.table-striped
                                tbody
                                    tr
                                        td
                                            | Format:
                                        td
                                            | A4, A5.
                                    tr
                                        td 
                                            | Titulaires: 
                                        td 
                                            | Porte-documents, porte-plume.
                                    tr
                                        td
                                            | Finition:
                                        td
                                            | Feuille brillante, Feuille mate, Feuille mate résistante aux rayures, Feuille structurelle avec effet lin.
                .row
                    .col-lg-7.col-md-6.text-left
                        .mt-5
                            h3.h4.mb-2 Sacs publicitaires
                            p.text-muted.mb-0 Un sac en papier est le moyen le plus simple et généralement le meilleur de tout emballer: d'un catalogue de produits à un cadeau élégant. Sur segregatory24.pl, vous pouvez commander des sacs en papier de différentes tailles, verticales ou horizontales. Nos sacs sont laminés, tous les produits sont protégés par un film sélectionné par vous: brillant, mat, mat anti-rayures ou structurel, ce qui les rend plus durables.
                            p
                            table.table-striped
                                tbody
                                    tr
                                        td
                                            | Format:
                                        td
                                            | 210x210x100mm, 102x360x100mm, 230x340x105mm, 350x420x120mm, 480x355x120mm.
                                    tr
                                        td 
                                            | Profondeur: 
                                        td 
                                            | 80-100mm.
                                    tr
                                        td
                                            | Poignées:
                                        td
                                            | Plastique, tissu.
                                    tr
                                        td
                                            | Finition:
                                        td
                                            | Feuille brillante, Feuille mate, Feuille mate résistante aux rayures, Feuille structurelle avec effet lin.

                    .col-lg-5.col-md-6.align-items-center
                        .mt-5
                            object
                                embed(src='assets/img/paperbags_p24.png', style='width: 100%; height: auto;')           

        // Portfolio
        div#portfolio
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/binder_ygg.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/binder_ygg_s.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/binder_nta.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/binder_nta_s.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/binder_stayat.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/binder_stayat_s.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/clipboard_dell.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/clipboard_dell_s.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/clipboard.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/clipboard_s.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/paperbags.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/paperbags_s.jpg', alt='')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | 
                                .project-name
                                    | 

        // Call to action
        //- section.page-section.bg-dark.text-white
        //-     .container.text-center
        //-         h2.mb-4 Free Download at Start Bootstrap!
        //-         a.btn.btn-light.btn-xl(href='https://startbootstrap.com/themes/creative/') Download Now!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Entrons en contact!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Prêt à démarrer votre prochain projet avec nous? Appelez-nous ou envoyez-nous un e-mail et nous vous répondrons dans les plus brefs délais!
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div +48 (58) 6836050
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='mailto:contact@classeurs24.fr') contact@classeurs24.fr

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2020 - Classeurs24.fr

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
